        body {
            font-family: Arial, sans-serif;
        }

        /* Hero Section */
        .hero {
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url('./Assets/banner-image.png') center/cover no-repeat;
            height: 90vh;
            display: flex;
            align-items: center;
            color: white;
            /* text-align: center; */
        }

        .hero h1 {
            font-size: 3rem;
            font-weight: 700;
        }



        /* Feature Icons */
        .feature-icon {
            width: 60px;
            height: 60px;
            background: #eef2ff;
            color: #4f46e5;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            font-size: 24px;
            margin: 0 auto 15px;
        }

        /* Product Card */
        .card img {
            max-height: 450px;
            object-fit: cover;
        }

        .footer-link {
            color: #cbd5e1;
            text-decoration: none;
            display: block;
            margin-bottom: 8px;
            transition: 0.3s;
        }

        .footer-link:hover {
            color: white;
        }

        .footer-icon {
            color: #9ca3af;
            transition: 0.3s;
        }

        .footer-icon:hover {
            color: white;
        }